.App {
    text-align: center;
  }
  
  /* Add Global Section Padding */
  body {
    background: linear-gradient(to right, #1f1c2c, #928dab);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
  }
  section {
    padding: 4rem 2rem;
  }
  html {
    scroll-behavior: smooth;
  }
  
  .active-section {
    color: #4caf50;
    font-weight: bold;
    border-bottom: 2px solid #4caf50;
  }
  /* Global styles for full-screen components */
html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  
  html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

